@charset "UTF-8";

* {
    margin: 0px;
    padding: 0;
}

:root {
    --cor01: #DB2AEB;
    --cor02: #5F2BEB;
    --cor03: #2A35EB;
    --cor04: #C0ABFA;

    --font-gen: Arial, Helvetica, Sans-Serif;
    --font-imp: 'Nunito', Arial, Helvetica, Sans-Serif;
    --font-Boldo: 'Boldonse' ; 
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    color: white;
    background-color: black;
    text-align: justify;
    font: normal 1em var(--font-gen);
}

header {
    background-color: var(--cor01);
    width: auto;
    height: 100px;
    padding: 20px;
}

header h1 {
    font: normal bolder 2em var(--font-Boldo);
    text-align: left;
    text-shadow: 0 0 10px #00000062;
    margin-bottom: 10px;
}

header p {
    text-align: left;
    text-shadow: 0 0 20px #000000;
    font-size: 20px;
}

nav {
    background-color: var(--cor01);
    text-align: right;
    padding: 20px;
}

nav > a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-right: 30px;
}

nav > a:hover {
    color: var(--cor03);
    background-color: white;
    transition-duration: 1s;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--cor03) ;
}

main {
    font: normal 1em var(--font-imp);
    max-width: 1280px;
    min-width: 200px;
    line-height: 30px;
    padding: 30px;
    margin: auto;

}

main h2 {
    font-weight: bolder;
    padding: 20px 0px;
}

.img-prod {
    display: block;
    max-width: 300px;
    width: 100%;
    padding: 40px;
    margin: auto;
}

main audio {
    display: block;
    max-width: 250px;
    margin: 40px 0px;
}

footer {
    background-color: var(--cor01);
    text-align: center;
    padding: 20px;
}

footer ul {
    columns: 4;
    list-style: none;
    padding: 30px;
    
}

footer li {
    padding: 20px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor03);
    text-decoration: underline;
}

